.main-container {
  text-align: center;
  width: 60vh;
  margin: 0 auto;
  height: 100%;
  border: 1px solid black;
}


.msg-usuario {
  position: relative;
  bottom: 0;
  margin-top: 1em;
}

.msg-usuario input:first-of-type {
  width: 7em;
  height: 1.5em;
  text-indent: 0.5em;
}

.msg-usuario input:last-of-type {
  width: 31em;
  height: 1.5em;
  text-indent: 0.5em;
}

.container-mensagem {
  width: auto;
  height: 96vh;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

}